footer {
    background-color: var(--colo-sky-blue);
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: 100px;
}

footer h2 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

footer a {
    display: block;
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}

footer a:hover {
    color: #fff;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

footer .social_links a {
    display: inline-block;
}

footer .social_links .fab {
    padding: 20px;
    font-size: 18px;
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
    background-color: #fff;
}

footer .social_links .fa-facebook-square {
    color: #3b5998;
}

footer .social_links .fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .social_links .instagram-outer-box {
    background-color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

footer .social_links .fab:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
