.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
  
.sidenav a:hover{
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

.sidenav h1 {
    color: white;
    margin-bottom: 1.5rem;
}

.sidenav .card {
    margin-bottom: 30px;
    width: 18rem;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0px !important;
}

.sidenav .card-img-top {
    height: 154px;
    max-width: 288px;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.sidenav .card .card-img-top:hover {
    transform: scale(1.3);
}

.sidenav .card-text {
    color: var(--color-gray);
}
