:root{

    --color-gray: #3f4954;
    --color-light-gray: #686666da;
    --color-light-violet: #673ab7b5;
    --color-light-blue: #5bc0de;
    --color-light-black: #333;
    --colo-sky-blue: #00abff;
    --color-facebook-blue: #3b5998;
    --color-instagram: #00acee;
    --color-blue: #007bff;

    /* Progress bara color */

    --color-grey: #eef0eb;
    --color-deep-green: #0c3d5e;

}
